<div class="card w-25 h-50 m-5 px-3 pt-5 mx-auto">
    <div class="heading row">
        <div class="col-10">
            <h6>Calculator</h6>
        </div>
        <div class="col-2">
            <button class="btn btn-white" (click)="historyEnabled = !historyEnabled"><i class="bi bi-clock-history"></i></button>
        </div>
    </div>
    
    <div class="border border-secondary">
        <input type="text" class="text-end border-0 lead w-100" style="outline: none;" [(ngModel)]="result">
    </div>
    <div class="container h-25 row-gap-3 p-2">
        <div class="row">
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="calculate('ac')">AC</button>
            </div>
            <div class="col-md  p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="calculate('c')">C</button>
            </div>
            <div class="col-md  p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="calculate('+/-')">+/-</button>
            </div>
            <div class="col-md  p-0 m-1">
                <button class="btn btn-warning w-100" (click)="operate('/')">÷</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('1')">1</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('2')">2</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('3')">3</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-warning w-100" (click)="operate('+')">+</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('4')">4</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('5')">5</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('6')">6</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-warning w-100" (click)="operate('-')">-</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('7')">7</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('8')">8</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('9')">9</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-warning w-100" (click)="operate('*')">*</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operand('0')">0</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="operate('%')">%</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-secondary w-100" (click)="calculate('.')">.</button>
            </div>
            <div class="col-md p-0 m-1">
                <button class="btn btn-success w-100" (click)="calculate('=')">=</button>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="historyEnabled">
    <div class="card container w-25 h-50 m-5 p-2 mx-auto bg-light">
        <div *ngFor="let el of history">
            <div class="card text-center mt-1" style="cursor: pointer;" (click)="setResult(el)">
                {{el}}
            </div>
        </div>
    </div>
</ng-container>